{{ "<!-- Services -->" | safeHTML }}
<section id="services" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with.Title }}{{ . }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">
          {{ with.Params.subtitle }}{{ . | markdownify }}{{ end }}
        </h3>
      </div>
    </div>
    <div class="row flexbox flexbox-cente text-center services">
      {{ range sort (where .Site.Pages "Section" "index") }}
      {{ $perm := add $.Site.LanguagePrefix "/index/company/" }}
      {{ if and (in .RelPermalink $perm) (ne .RelPermalink $perm) }}
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          {{ if .Params.link }}
          <a class="service-heading" href="{{ .Params.link | relLangURL }}"
            ><i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa {{ .Params.icon }} fa-stack-1x fa-inverse"></i
          ></a>
          {{ else }}
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa {{ .Params.icon }} fa-stack-1x fa-inverse"></i>
          {{ end }}
        </span>
        <h4 class="service-heading">
          {{ if .Params.link }}
          <a
            class="service-heading"
            href="{{ .Params.link | relLangURL }}"
            >{{ .Title }}</a
          >
          {{ else }}
          {{ .Title }}
          {{ end }}
        </h4>
        <p class="text-muted">{{ .Content }}</p>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
