<!DOCTYPE html>
<html lang="{{ with.Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "head.html" . }}

  <body id="page-top" class="index" home="true">
    {{ partial "nav.html" . }}

    {{ range sort (where .Site.Pages "Section" "index" ) }}

    {{ if and (eq  .RelPermalink (add $.Site.LanguagePrefix "/index/hero/")) (not .Params.disable)}}
    {{ partial "hero.html" . }}
    {{ end }}


    {{ if and (eq .RelPermalink (add $.Site.LanguagePrefix "/index/community/")) (not .Params.disable) }}
    {{ partial "community.html" . }}
    {{ end }}

    {{ end }}

    {{ if .Site.Params.footer.enable }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
